<% layout('layouts/boilerplate')%>
    <h1>All Campgrounds</h1>
    <a class='btn btn-success' href='/campgrounds/new'>New Campground</a>
    <ul>
        <% for (let campground of campgrounds) { %>
            <div class='card mb-3'>
                <div class='row'>
                    <div class='col-md-4'>
                        <% if (campground.images.length) { %>
                            <img src='<%=campground.images[0].url%>' class='img-fluid' alt='<%=campground.title%>'>
                            <% } else { %>
                                <img src='https://www.nps.gov/grte/planyourvisit/images/JLCG_tents_Teewinot_2008_mattson_1.JPG?maxwidth=1200&maxheight=1200&autorotate=false'
                                    class='img-fluid' alt='<%=campground.title%>'>
                                <% } %>
                    </div>
                    <div class='col-md-8'>
                        <h5 class='card-title'>
                            <%= campground.title %>
                        </h5>
                        <p class='card-text'>
                            <%=campground.description%>
                        </p>
                        <p class='card-text'>
                            <small class='text-muted'>
                                <%=campground.location%>
                            </small>
                        </p>
                        <a class='btn btn-primary' href='/campgrounds/<%=campground._id%>'>
                            <a class='btn btn-primary' href='/campgrounds/<%=campground._id%>'>
                                More Info
                            </a>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>